@model Avanade.AllocationMonitor.Mvc.Models.DipendentiCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1><i class="fas fa-users-cog"></i> Aggiorna Dipendente Esistente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizioProfessione" class="control-label"></label>
                <input asp-for="DataInizioProfessione" class="form-control" />
                <span asp-validation-for="DataInizioProfessione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoOrario" class="control-label"></label>
                <input asp-for="CostoOrario" class="form-control" />
                <span asp-validation-for="CostoOrario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mansione" class="control-label"></label>
                <input asp-for="Mansione" class="form-control" />
                <span asp-validation-for="Mansione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-success" type="submit" value="Aggiorna" />
                <a class="btn btn-outline-danger" asp-action="Index">Annulla</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
